@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

strong {
  font-weight: 500; }

p {
  font-weight: 300;
  padding-bottom: 10px; }

.main-content {
  width: 100%;
  height: 600px; }

#main-wrapper {
  width: 90%;
  margin: 0 auto; }

header {
  width: 100%;
  height: 400px;
  background-color: #FF6347;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle; }
  header .branding {
    width: 650px;
    max-width: 80%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin: 0 auto; }
    header .branding #brand-group {
      padding-bottom: 15px; }
      header .branding #brand-group .logo {
        background: url("../images/routr-logo.png") no-repeat;
        background-position: center center;
        display: flex;
        min-width: 50%;
        height: 155px;
        margin: 10px 10px; }
      header .branding #brand-group h1 {
        color: white;
        font-weight: 700;
        font-size: 6em;
        line-height: .8em;
        text-align: center;
        text-transform: lowercase;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
        text-shadow: #1E1E1E, 0 0 20px; }
      header .branding #brand-group p {
        display: block;
        color: #e02200;
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        margin-top: 12px;
        padding: 10px;
        font-size: 1.2em;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif; }

#nav {
  width: 100%;
  background: #ff4d2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 5; }
  #nav:before, #nav:after {
    content: " ";
    display: table; }
  #nav:after {
    clear: both; }
  #nav .navbar {
    width: 95%;
    line-height: 2em; }
    #nav .navbar .brand {
      float: left;
      font-weight: 500;
      color: #FFFFFF;
      font-size: 1em;
      font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
      text-align: center;
      text-transform: lowercase;
      background: tomato;
      margin-left: 40px; }
      #nav .navbar .brand a {
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.5em; }
    #nav .navbar ul li {
      float: right;
      list-style-type: none; }
      #nav .navbar ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
        font-size: 1em;
        display: inline-block;
        padding: 10px; }
        #nav .navbar ul li a:hover {
          background: #ffc952;
          color: #FFFFFF; }

footer {
  width: 100%;
  height: 250px;
  background-color: #1f1d2d; }
  footer #menu {
    background: #29273c;
    height: 70px; }
