@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif; }

strong {
  font-weight: 500; }

p {
  font-weight: 300;
  padding-bottom: 10px; }

a {
  cursor: pointer;
  text-decoration: none; }

.muted {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5); }

article {
  padding: 40px 0; }

.article-head {
  font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  -webkit-font-smoothing: antialiased; }

hr.article-title-rule {
  border-top: 2px solid #FFC952;
  width: 100px;
  margin: 10px auto 30px;
  padding-bottom: 10px; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

.reviewTitle {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  padding: 1em; }
  .reviewTitle .highlight {
    font-weight: 500;
    color: #FF6347; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0 0 280px;
  /* bottom = footer height */ }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 280px;
  width: 100%; }

header {
  width: 100%;
  height: 400px;
  background-color: #FF6347;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle; }
  header .branding {
    width: 650px;
    max-width: 80%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin: 0 auto; }
    header .branding #brand-group {
      padding-bottom: 15px; }
      header .branding #brand-group .logo {
        background: url("../images/routr-logo.png") no-repeat;
        background-position: center center;
        min-width: 50%;
        height: 155px;
        margin: 10px 10px; }
      header .branding #brand-group h1 {
        color: white;
        font-weight: 700;
        font-size: 6em;
        line-height: .8em;
        text-align: center;
        text-transform: lowercase;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
        text-shadow: #1E1E1E, 0 0 20px; }
      header .branding #brand-group p {
        display: block;
        color: #e02200;
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        margin-top: 12px;
        padding: 10px;
        font-size: 1.2em;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif; }

#nav {
  width: 100%;
  position: relative;
  background: #ff4d2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  #nav:before, #nav:after {
    content: " ";
    display: table; }
  #nav:after {
    clear: both; }
  #nav .navbar {
    width: 95%;
    line-height: 2em; }
    #nav .navbar .brand {
      float: left;
      font-weight: 500;
      color: #FFFFFF;
      font-size: 1em;
      font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
      text-align: center;
      text-transform: lowercase;
      background: tomato;
      margin-left: 40px; }
      #nav .navbar .brand a {
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.5em; }
    #nav .navbar ul li {
      float: right;
      list-style-type: none; }
      #nav .navbar ul li:first-child {
        background-color: #FFC952; }
      #nav .navbar ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
        font-size: 1em;
        display: inline-block;
        padding: 10px; }
        #nav .navbar ul li a:hover {
          background: #FFC952;
          color: #FFFFFF; }

footer {
  width: 100%;
  background: #34314C;
  color: #FFFFFF;
  font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: 300; }
  footer .container {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px; }
    footer .container .brand {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      padding: 40px 15px 20px 15px; }
      footer .container .brand img {
        padding-right: 15px; }
      footer .container .brand .title {
        padding-top: 10px;
        font-size: 1.8em;
        font-weight: 500;
        line-height: 2em; }
    footer .container nav.footer {
      width: 45%;
      margin-left: 4px;
      margin-bottom: 2em; }
      footer .container nav.footer ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none; }
        footer .container nav.footer ul li {
          margin-left: 15px; }
          footer .container nav.footer ul li a {
            color: #FFFFFF;
            text-decoration: none;
            padding-left: 15px; }
            footer .container nav.footer ul li a:hover {
              color: #FF6347; }
  footer .copyright {
    width: 100%;
    background: #29273c;
    margin: 0 auto; }
    footer .copyright article {
      height: 45px;
      text-align: center;
      font-size: .9em;
      padding-top: 1.8em;
      color: rgba(255, 255, 255, 0.4); }

form {
  margin-bottom: 20px; }

button {
  background: #47B8E0;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  font-size: 1em;
  color: #FFFFFF; }
  button:hover {
    background: #23a3d1;
    color: #FFFFFF; }
  button:focus {
    outline: 0; }

input {
  cursor: pointer; }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  padding: 5px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  margin-bottom: 10px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="tel"]:focus {
    outline: 0; }

input[type="search"]:focus {
  outline: 0; }

textarea {
  padding: 18px 15px 0;
  margin-bottom: 10px;
  font-size: .9em;
  color: #666;
  border: 1px solid #666;
  -webkit-appearance: none; }
  textarea:focus {
    outline: 0; }

select {
  cursor: pointer; }
  select:focus {
    outline: 0; }

input[type="range"] {
  -webkit-appearance: none; }

input:valid {
  border-bottom: 2px solid #47B8E0; }
input:invalid {
  border-bottom: 2px solid #E74C3C; }

label {
  color: #999;
  font-size: .9em;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all .20s ease;
  -moz-transition: all .20s ease;
  -webkit-transition: all .20s ease; }

#firstName, #lastName, #email,
#phoneNum, #password, #confirmPassword {
  width: 100%;
  padding: 2%;
  margin-bottom: 1.5em;
  border: 0;
  /* cancels border-radius */
  border-bottom: 2px solid #F5F5F5;
  transition: border .25s linear,color;
  -moz-transition: border .25s linear,color;
  -webkit-transition: border .25s linear,color;
  font-size: .9em; }
  #firstName:focus, #lastName:focus, #email:focus,
  #phoneNum:focus, #password:focus, #confirmPassword:focus {
    border-bottom: 2px solid #47B8E0;
    outline: none; }
    #firstName:focus ~ label, #lastName:focus ~ label, #email:focus ~ label,
    #phoneNum:focus ~ label, #password:focus ~ label, #confirmPassword:focus ~ label {
      top: -10px;
      color: #47B8E0;
      font-size: .75em; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .overlay .modal {
    width: 500px;
    position: relative;
    background: #FFFFFF;
    top: 20px;
    padding: 30px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4); }
    .overlay .modal .btn-close {
      position: absolute;
      top: -40px;
      right: -40px;
      height: 30px;
      width: 30px;
      cursor: pointer;
      color: #FFFFFF;
      font-size: 2em;
      line-height: 30px;
      text-align: center;
      transition: scale 100ms ease-in-out; }
      .overlay .modal .btn-close:hover {
        transform: scale(1.2); }
    .overlay .modal .login-form {
      display: flex;
      flex-direction: column;
      padding: 20px; }
      .overlay .modal .login-form #name, .overlay .modal .login-form #password {
        display: block;
        height: 40px;
        border: none;
        font-size: .9em;
        padding: 0 20px;
        border-bottom: 2px solid #F5F5F5;
        transition: border .25s linear,color; }
        .overlay .modal .login-form #name:focus, .overlay .modal .login-form #password:focus {
          border-bottom: 2px solid #47B8E0; }
      .overlay .modal .login-form #login {
        display: block;
        height: 45px;
        border: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        padding: 15px 32px;
        background: #47B8E0;
        text-align: center;
        cursor: pointer;
        font-size: 1em;
        color: #FFFFFF; }
        .overlay .modal .login-form #login:hover {
          background: #23a3d1;
          color: #FFFFFF; }

main {
  width: 100%;
  background: #FFFFFF; }
  main section {
    width: 100%;
    padding: 40px 0;
    margin: 0 auto; }
    main section:last-child {
      padding-bottom: 0; }
    main section article.search-index {
      background: #FFFFFF;
      padding-bottom: 110px; }
      main section article.search-index form {
        display: flex;
        justify-content: center;
        align-content: center;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
        padding-top: 20px; }
        main section article.search-index form input[type="search"] {
          width: 50%;
          height: 42px;
          background-color: #FFFFFF;
          border: none;
          border-bottom: 2px solid #F5F5F5;
          outline: 0;
          font-size: 1em;
          margin-right: .2em;
          transition: border .25s linear,color;
          text-overflow: ellipsis; }
          main section article.search-index form input[type="search"]:focus {
            border-bottom: 2px solid #47B8E0; }
        main section article.search-index form button[type="submit"] {
          min-width: 15%;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 30px;
          padding-right: 30px;
          background-color: #47B8E0;
          color: #FFFFFF;
          font-size: 1em;
          line-height: 1.4;
          border-radius: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border: none;
          font-weight: 400; }
          main section article.search-index form button[type="submit"]:hover {
            background: #23a3d1;
            color: #FFFFFF; }
    main section article.profile-reviews {
      width: 100%;
      padding-top: 0;
      background: #F5F5F5; }
      main section article.profile-reviews .arc-svg {
        margin-top: -1px; }
        main section article.profile-reviews .arc-svg path {
          fill: #FFFFFF; }
      main section article.profile-reviews .container {
        max-width: 830px;
        margin: 0 auto; }
        main section article.profile-reviews .container .review-cards {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          margin: 0 auto; }
          main section article.profile-reviews .container .review-cards .review-card {
            flex: 1 0 29%;
            padding: 2%;
            display: block;
            background: #FFFFFF;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 20px;
            text-decoration: none;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
            transition: all ease-in-out 200ms;
            -webkit-transition: all ease-in-out 200ms; }
            main section article.profile-reviews .container .review-cards .review-card:hover {
              box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
              -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3); }
            main section article.profile-reviews .container .review-cards .review-card .media img {
              max-width: 100%;
              display: block;
              margin-bottom: 5px; }
            main section article.profile-reviews .container .review-cards .review-card .desc {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 75px;
              margin-top: auto; }
              main section article.profile-reviews .container .review-cards .review-card .desc .title {
                font-weight: 500;
                line-height: 1.3em; }

main .register {
  background: #F5F5F5; }
  main .register .user-container {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.26);
    max-width: 830px;
    margin: 0 auto; }
    main .register .user-container .newUser {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5%;
      margin: 5%; }
      main .register .user-container .newUser .profile {
        margin: 0 auto;
        padding: 15px 0 40px 0; }
        main .register .user-container .newUser .profile img {
          border-radius: 50%; }
      main .register .user-container .newUser .input-group {
        position: relative; }
      main .register .user-container .newUser button#signup {
        border: none;
        padding: 15px 32px;
        margin: 15px 3px; }

#fixed-nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #ff4d2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
  #fixed-nav #fixed-container {
    width: 95%;
    line-height: 2em; }
    #fixed-nav #fixed-container .brand {
      float: left;
      font-weight: 500;
      color: #FFFFFF;
      font-size: 1em;
      font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
      text-align: center;
      text-transform: lowercase;
      background: tomato;
      margin-left: 40px; }
      #fixed-nav #fixed-container .brand a {
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.5em; }
    #fixed-nav #fixed-container ul li {
      float: right;
      list-style-type: none; }
      #fixed-nav #fixed-container ul li:first-child {
        background-color: #FFC952; }
      #fixed-nav #fixed-container ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
        font-size: 1em;
        display: inline-block;
        padding: 10px; }
        #fixed-nav #fixed-container ul li a:hover {
          background: #FFC952;
          color: #FFFFFF; }

.results article.results-container .container {
  max-width: 830px;
  margin: 0 auto; }
  .results article.results-container .container .review-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto; }
    .results article.results-container .container .review-cards .review-card {
      flex: 1 0 29%;
      padding: 2%;
      display: block;
      background: #FFFFFF;
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 20px;
      text-decoration: none;
      border-radius: 2px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
      transition: all ease-in-out 200ms;
      -webkit-transition: all ease-in-out 200ms; }
      .results article.results-container .container .review-cards .review-card:hover {
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3); }
      .results article.results-container .container .review-cards .review-card .media img {
        max-width: 100%;
        display: block;
        margin-bottom: 5px; }
      .results article.results-container .container .review-cards .review-card .desc {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 75px;
        margin-top: auto; }
        .results article.results-container .container .review-cards .review-card .desc .title {
          font-weight: 500;
          line-height: 1.3em; }

.container .resultsTbl {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 2rem;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  display: table;
  justify-content: center; }
  .container .resultsTbl thead, .container .resultsTbl tbody, .container .resultsTbl tfoot, .container .resultsTbl tr, .container .resultsTbl th, .container .resultsTbl td {
    text-align: left;
    font-family: Roboto, Helvetica, "Helvetica Neue", sans-serif;
    font-weight: 500;
    padding: 1.6rem;
    vertical-align: top; }
  .container .resultsTbl thead tr th {
    border-bottom: 1px solid #F5F5F5; }
  .container .resultsTbl tbody tr:hover {
    background-color: #F5F5F5;
    color: #FF6347; }

main .search {
  background: #F5F5F5;
  height: 100%;
  padding-bottom: 20px !important; }
  main .search .search-container {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 830px;
    margin: 0 auto;
    margin-bottom: 2em; }
    main .search .search-container .searchForm {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 5%;
      margin: 5%; }
      main .search .search-container .searchForm #searchBar {
        padding: 2%;
        border: 0;
        /*cancels default border styles*/
        border-bottom: 2px solid #F5F5F5;
        transition: border .25s linear,color;
        font-size: 1em;
        margin: 0 10px 10px 10px; }
        main .search .search-container .searchForm #searchBar:focus {
          border-bottom: 2px solid #47B8E0; }
      main .search .search-container .searchForm .advanced-options #surroundSuburbs {
        outline: none;
        margin: 10px 3px 20px 15px; }
      main .search .search-container .searchForm .advanced-options .options-container {
        width: 100%;
        padding: 15px; }
        main .search .search-container .searchForm .advanced-options .options-container .suburb-lbl {
          display: none;
          /*for screen readers*/ }
        main .search .search-container .searchForm .advanced-options .options-container #suburbSelect {
          width: 100%;
          height: 30px;
          font-size: .9em;
          border: 0;
          border-bottom: 2px solid #F5F5F5;
          transition: border .25ms linear, color; }
          main .search .search-container .searchForm .advanced-options .options-container #suburbSelect:focus {
            border-bottom: 2px solid #47B8E0; }
        main .search .search-container .searchForm .advanced-options .options-container .rating-lbl {
          display: none; }
        main .search .search-container .searchForm .advanced-options .options-container #ratingSlider {
          width: 100%;
          padding-top: 25px;
          cursor: pointer;
          /*moz styles & fixes*/
          /*ie styles & fixes - use upper & lower fill to correct styling issues with track not overflowing */ }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider:focus {
            outline: none; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-webkit-slider-runnable-track {
            width: 300px;
            height: .7em;
            background: #d7dcdf;
            border: none;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            width: 16px;
            height: 16px;
            background: #FFC952;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-top: -.3em;
            /*changes colour when in use*/ }
            main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-webkit-slider-thumb:active {
              background: #34314C; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-moz-range-track {
            width: 300px;
            height: .7em;
            background: #34314C;
            border: none;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-moz-range-thumb {
            border: none;
            width: 16px;
            height: 16px;
            background: #FFC952;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-top: -.3em; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-ms-track {
            width: 300px;
            height: .7em;
            background: transparent;
            border-color: transparent;
            border: none;
            border-width: 6px 0;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-ms-fill-lower {
            background: #777;
            border-radius: 10px; }
            main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-ms-fill-lower:focus {
              background: #888; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-ms-fill-upper {
            background: #ddd;
            border-radius: 10px; }
            main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-ms-fill-upper:focus {
              background: #ccc; }
          main .search .search-container .searchForm .advanced-options .options-container #ratingSlider::-ms-thumb {
            border: none;
            width: 16px;
            height: 16px;
            background: #FFC952;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            margin-top: -.3em; }
      main .search .search-container .searchForm #btn-search {
        margin: 40px 15px 20px 15px;
        border: none; }

.container .item-container {
  max-width: 830px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26); }
  .container .item-container .hotspot {
    padding-top: 1.5rem;
    font-size: 1.7em; }
  .container .item-container .img-item {
    width: 100%;
    height: 250px;
    background: rgba(0, 0, 0, 0.26);
    position: relative; }
    .container .item-container .img-item .cta {
      position: absolute;
      width: 56px;
      height: 56px;
      top: 220px;
      right: 60px;
      background: #47B8E0;
      border-radius: 50%;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.26);
      text-align: center; }
      .container .item-container .img-item .cta:hover {
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.26); }
      .container .item-container .img-item .cta .add-review {
        color: #FFFFFF;
        line-height: 56px; }
  .container .item-container .comments-section .recommendedReviews {
    margin-left: 20px; }
  .container .item-container .comments-section .comment {
    width: 80%;
    display: inline-block;
    padding: 1em;
    margin: 0 auto; }
    .container .item-container .comments-section .comment .user-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      float: left;
      margin-left: 3em; }
    .container .item-container .comments-section .comment .comment-txt {
      font-size: .9em;
      line-height: 70px; }
      .container .item-container .comments-section .comment .comment-txt q {
        margin-left: 2em; }
  .container .item-container .comments-section .yourReview {
    margin-left: 20px; }
  .container .item-container .comments-section .comment-box {
    width: 80%;
    text-align: center;
    margin: 0 auto; }
    .container .item-container .comments-section .comment-box .reviewRating {
      padding-bottom: 50px; }
      .container .item-container .comments-section .comment-box .reviewRating .stars {
        display: inline-block;
        height: 30px;
        list-style: none; }
        .container .item-container .comments-section .comment-box .reviewRating .stars .star {
          width: 30px;
          height: 30px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          float: left;
          margin-right: 5px;
          transition: all .25ms ease-in-out; }
          .container .item-container .comments-section .comment-box .reviewRating .stars .star:hover {
            transform: translateY(-3px);
            background: #47B8E0; }
      .container .item-container .comments-section .comment-box .reviewRating .selectRating {
        font-weight: 300;
        line-height: 30px;
        display: block;
        padding: 1em; }
    .container .item-container .comments-section .comment-box #addComment {
      width: 80%; }
    .container .item-container .comments-section .comment-box #submitReview {
      display: block;
      margin-left: 518px; }
