main {
  .register {
    background: $lightgrey;
    //width: 100%;
    .user-container {
      background: $light;
      box-shadow: 0px 5px 15px $shadow;
      max-width: 830px;
      margin: 0 auto;

      .newUser {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        margin: 5%;

        .profile {
          margin: 0 auto;
          padding: 15px 0 40px 0;
          img {
            border-radius: 50%;
          }
        }


        .input-group {
          position: relative;

        }

        button#signup {
          border: none;
          padding: 15px 32px;
          margin: 15px 3px;
          //max-width: 150px;
        } //sign up button
      }
    }
  }
}
