main {
  .register {
    background: $lightgrey;
    .user-container {
      background: $light;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
      max-width: 830px;
      margin: 0 auto;

      .newUser {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
        margin: 5%;

        .profile {
          margin: 0 auto;
          padding: 15px 0 40px 0;
          img {
            border-radius: 50%;
          }
        }

        #firstName,
        #lastName,
        #email,
        #phoneNum,
        #password,
        #confirmPassword  {
          padding: 2%;
          border: 0; /* cancels border-radius */
          border-bottom: 2px solid $lightgrey;
          transition: border .25s linear,color;
          font-size: .9em;

          &:focus {
            border-bottom: 2px solid $accent;
          }
        } //on focus animation

        #phoneNum {
          &:focus {
            outline: none;
          }
        }

        button#signup {
          border: none;
          padding: 15px 32px;
          margin: 15px 3px;
          //max-width: 150px;
        } //sign up button
      }
    }
  }
}
