.container {

  .item-container {
    max-width: 830px;
    margin: 0 auto;
    background: $light;
    box-shadow: 0px 5px 10px $shadow;

    .hotspot {
      padding-top: 1.5rem;
      font-size: 1.7em;
    }

    .img-item {
      width: 100%;
      height: 250px;
      background: $shadow;
      position: relative;

      .cta {
        position: absolute;
        width: 56px;
        height: 56px;
        top: 220px;
        right: 60px;
        background: $accent;
        border-radius: 50%;
        box-shadow: 0px 1px 3px $shadow;
        text-align: center;

        &:hover {
          //background: darken($accent, 10);
          box-shadow: 0px 2px 18px $shadow;
        }
        .add-review {
          color: $light;
          line-height: 56px;
        }
      } //cta
    } //img-item

    .comments-section {
      .recommendedReviews {
        margin-left: 20px;
      }
      .comment-wrapper {
        margin: 0 30px;

        .cmt-box {
          width: 80%;
          display: inline-block;
          padding: 1em;
          margin: 0 auto;

          .user-img img {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            float: left;
          }

          .cmt-body {
            display: inline-block;
            font-size: .9em;
            padding: 6px;

            .user-name {
              font-weight: 700;
              color: lighten($darkgrey, 10);
            }

            .cmt-text {
              padding: 1em;
              line-height: 19px;

              &:before {
                content: url('/images/icons/comment.svg');
                width: 14px;
                height: 14px;
                padding: .5rem;
              }
            } //cmt-text
          } //comment-body
        } //comment-box
      } //comment-wrapper

      .cmt-wrapper {
        width: 80%;
        margin: 0 auto;
        padding: 3em 0;

        #userComment {
          display: block;
          width: 100%;
          padding: 6px 12px;
          margin-top: 20px !important;
          font-size: 14px;
          background: $light;
          border-color: #ccc;
          border-radius: 4px;
          margin: 0 auto;
        }

        .addReviewForm {
          padding: 15px 0;

          #rating-title {
            padding-top: 1em;
          }
          .addRating {
            padding: 1em;
            margin-right: 10px;
          } //radio buttons
        } //addReviewForm

        .login-notify {
          font-size: 85%;
          color: $accent;
          float: left;
          margin-top: 20px;
        }

        #submitReview {
          float: right;
          margin-top: 20px;
        }

        .clearfix {
          @include clearfix;
        }
      } //comment-wrapper
    } //comments-section
  } //item-container
} //container
