main {
  width: 100%;
  height: auto;
  background: $light;

  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: "";
  }

  section {
    height: auto;
    margin: 0 auto;

    article.search {
      background: $light;
      height: 350px;
    } //searchbar

    article.profile-reviews {
      height: 350px;
      background: $lightgrey;
    } //user reviews
  } //wrapper
} //main
