//Form styles

form {
  margin-bottom: 20px;
}

button {
  background: #47B8E0;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  @include border-radius(2px);
  font-size: 1em;
  color: $light;

  &:hover {
    background: darken($accent, 10);
    color: $light;
  }
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 5px 10px;
  @include border-radius(2px);
  margin-bottom: 10px;
}

input,
textarea {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

//Validation
input.required {
  border-color: orange !important;
  color: orange !important;
}
