//Form styles

form {
  margin-bottom: 20px;
}

button {
  background: #47B8E0;
  text-align: center;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  @include border-radius(2px);
  font-size: 1em;
  color: $light;

  &:hover {
    background: darken($accent, 10);
    color: $light;
  }

  &:focus {
    outline: 0;
  }
}

input {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

// input[type="text"],
// input[type="email"],
// input[type="password"],
// input[type="tel"] {
//   padding: 5px 10px;
//   @include border-radius(2px);
//   margin-bottom: 10px;
//
//   &:focus {
//     outline: 0;
//   }
// }

textarea {
  padding: 18px 15px 0;
  margin-bottom: 10px;
  font-size: .9em;
  color: #666;
  border: 1px solid #666;
  -webkit-appearance: none;
  &:focus {
    outline: 0;
  }
}

select {
  cursor: pointer;
  &:focus {
  outline: 0;
  }
}

input[type="range"] {
  -webkit-appearance: none;
}


.input-group {
  position: relative;

  label {
    color: #999;
    font-size: .9em;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all .20s ease;
    -moz-transition: all .20s ease;
    -webkit-transition: all .20s ease;
  }
  .lbl-highlight {
    &:focus ~ label, &:valid ~ label {
      top: -10px;
      font-size: .75em;
      color: $accent;
    }
  } //label highlight animation
}

#firstName, #lastName, #email,
#phoneNum, #username, #password, #confirmPassword {
  width: 100%;
  padding: 2%;
  padding-left: 5px;
  margin-bottom: 1.5em;
  border: 0; /* cancels border-radius */
  border-bottom: 2px solid $lightgrey;
  transition: border .25s linear,color;
  -moz-transition: border .25s linear,color;
  -webkit-transition: border .25s linear,color;
  font-size: .9em;

  &:focus {
    border-bottom: 2px solid $accent;
  }
} //input fields
