header {
  width: 100%;
  height: 400px;
  background-color: $tomato;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  .branding {
    width: 650px;
    max-width: 80%;
    padding-top: 3rem;
    padding-bottom: 4rem;
    margin: 0 auto;

    #brand-group {
      padding-bottom: 15px;

      .logo {
        background: url('../images/routr-logo.png') no-repeat;
        background-position: center center;
        min-width: 50%;
        height: 155px;
        margin: 10px 10px;
      }

      h1 {
        color: white;
        font-weight: $heavy;
        font-size: 6em;
        line-height: .8em;
        text-align: center;
        text-transform: lowercase;
        font-family: $fontFamily;
      }
      p {
        display: block;
        color: darken($tomato, 20);
        max-width: 200px;
        margin: 0 auto;
        text-align: center;
        margin-top: 12px;
        padding: 10px;
        font-size: 1.2em;
        font-family: $fontFamily;
      } //p
    } //brand-group
  } //branding
} //header
