#nav {
  @include clearfix;
  width: 100%;
  position: relative;
  background: darken($tomato, 5);
  @include box-shadow(0, 2px, 5px, $shadow);

  .navbar {
    width: 95%;
    line-height: 2em;
    .brand {
      float: left;
      font-weight: $bold;
      color: $light;
      font-size: 1em;
      font-family: $fontFamily;
      text-align: center;
      text-transform: lowercase;
      background: lighten($tomato, 0);
      margin-left: 40px;

      a {
        color: $light;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        font-size: 1.5em;
      } //a
    } //brand

    ul {
      li {
        float: right;
        list-style-type: none;

        &:first-child {
          background-color: $yellow;
        }
        a {
          color: $light;
          text-decoration: none;
          font-family: $fontFamily;
          font-size: 1em;
          display: inline-block;
          padding: 10px;

          &:hover {
            background: $yellow;
            color: $light;
          } //hover
        } //a
      } //li
    } //ul
  } //navbar
} //nav
