// Base Layout Styles - can include media queries
body {
  position: relative;
}

//Review cards
/*
@media (max-width: 600px) {
  .review-card {
    flex: 1 46%;
  }
} //600px wide and smaller

@media (max-width: 920px) {
  .review-card {
    flex: 1 46%;
  }
}
*/
