// Functions to add give the css superpowers
@mixin clearfix {
  &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
} //clearfix - fix div collapsing when floating elements

@mixin box-shadow($hozOffset, $vertOffset, $blur, $colour) {
  box-shadow: $hozOffset $vertOffset $blur $colour;
  -webkit-box-shadow: $hozOffset $vertOffset $blur $colour;
  -moz-box-shadow: $hozOffset $vertOffset $blur $colour;
} //includes prefixes for most popular browsers

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
} //prefixes for border radius
